*.log
*.idea
*__pycache__
*.xlsx
esport_api_log
howsat_timing_wise/db_configs.py
myteam11_bot/myteam11_bot/DB_CONFIG.py
metro_canada/metro_canada/db_config.py
fantasy_timing_wise/fantasy_akhada/configs
